@layer components {
    .route {
        border: 1px solid var(--color-border);
        border-radius: var(--radius);
        margin-bottom: var(--space-md);
        max-width: 28rem;
        padding: var(--space-md);
        width: 100%;
    }
}
